<div class="jumbotron jumbotron-fluid jumbotron my-auto ">
  <div class="container">
    <h1 class="display-4">Welcome to Pavlov</h1>
    <p class="lead">Powered by the Rails framework. </p>

    <%= form_tag patients_path, method: :get, :class => 'form-inline mr-auto' do%>
    <%= text_field_tag :search, params[:search], placeholder: "Search Patients", class: 'form-control mr-sm-2' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-outline-dark my-2 my-sm-0' %>
    </span>

  <% end %>
  </div>
  </div>
  <div class="container">
  <%= link_to "https://www.choicescounselingservices.com/", target: "_blank" do %>
    <%= image_tag "choices-logo-long.png"  %>
   <% end %>

  </div>
