
<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fName, 'First Name' %>
    <%= form.text_field :fName %>
  </div>

  <div class="field">
    <%= form.label :lName, 'Last Name' %>
    <%= form.text_field :lName %>
  </div>

  <div class="field">
    <%= form.label :dob, 'DOB' %>
    <%= form.date_select :dob, order: [:month, :day, :year], start_year:1950, end_year: Date.today.year - 5%>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['M', 'F', 'NB', 'GNC', 'Other'], { :class => 'select' }%>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :first_name%>
  </div>
  
  <div class="field">
    <%= form.label :treatment, 'Treatment Plan' %>
    <%= form.file_field :treatment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
