<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @patient.fName %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.lName %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user_id %>
</p>
<% unless @patient.treatment.blank? %>
  <p>
    <strong> Treatment Plan: </strong>
    <%= link_to @patient.treatment.filename, rails_blob_path(@patient.treatment, disposistion: "attachment"), target: :_blank %>
  </p>
<% end %>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
