
<nav class="navbar navbar-fixed-top justify-content-between navbar-expand-lg navbar-light" style="background-color: #C0E4EA;">

<%= fa_icon "dog", class: 'navbar-brand', size: '4x', style: "color:#000000" %>
<a class="navbar-brand px-2" href="/">Pavlov</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Patients", patients_path, :class=>"nav-link" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forms.gle/nWHvJuai9Fa411959" target="_blank">Treatment Plans</a>
      </li>
      <% if current_user.admin? %>
        <li class="nav-item">
          <%= link_to "Invite New User", new_user_invitation_path, :class=>"nav-link" %>
        </li>
      <% end %>
    </ul>

  <%= form_tag patients_path, method: :get, :class => 'form-inline mr-auto' do%>
    <%= text_field_tag :search, params[:search], placeholder: "Search Patients", class: 'form-control mr-sm-2' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-outline-dark my-2 my-sm-0' %>
    </span>
  <% end %>

<div class="btn-group">

 <button type="button" class="btn btn-outline-dark dropdown-toggle mr-auto text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Logged in as: 
    <%= current_user.first_name + ' ' + current_user.last_name %>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to('Profile', edit_user_registration_path, :class => 'dropdown-item' ) %>
    <div class="dropdown-divider"></div>
    <button class="dropdown-item" type="button">Help</button>
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, :class => 'dropdown-item' ) %> 
    
  </div>
</div>


</nav>

