
<nav class="navbar navbar-fixed-top justify-content-between navbar-expand-lg navbar-light" style="background-color: #C0E4EA;">

<%= fa_icon "dog", class: 'navbar-brand', size: '4x', style: "color:#000000" %>
<a class="navbar-brand px-2" href="/">Pavlov</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="patients">Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Treatment Plans</a>
      </li>
    </ul>
  <% if user_signed_in? %>
<div class="btn btn-danger btn-sm mr-auto text-center">
  <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'btn' ) %>   
</div>

<% end %>

  <%= form_tag patients_path, method: :get, :class => 'form-inline' do%>
    <%= text_field_tag :search, params[:search], placeholder: "Search Patients", class: 'form-control mr-sm-2' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-secondary my-2 my-sm-0' %>
    </span>
  <% end %>


</nav>

