<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title>PavlovBeta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <% if current_user %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
